// Colors
// --------------------------------------------

// Brand colors
$brand_primary:        #ed5b58;
$brand_secondary:      #2e2e2e;
$brand_accent:         #00e9cf;

// Generic colors
$blue:                 #3498DB;
$blueDark:             #2C3E50;
$green:                #18BC9C;
$red:                  #E74C3C;
$yellow:               #e6bb0d;
$orange:               #F39C12;
$pink:                 #ff6699;
$purple:               #8E44AD;
$grey:                 #efefef;
$greyDark:             #dddddd;

// Accent colors
$success_color:        #5cb85c;
$warning_color:        #f0ad4e;
$error_color:          #d9534f;
$info_color:           #5bc0de;
$disabled_color:       #cccccc;

// Base colors
$body_background:      #fff;
$text_color:           #222;

// Links
$link_color:           $brand_primary;
$link_color_hover:     #efefef;